<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form (ngSubmit)="login()" [formGroup]="loginForm" class="login">
                <div>
                    
                </div>
                <div class="login1">
                    <h1>Login</h1>
                </div>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input name ="acno" formControlName="acno" type="text" class="login__input" placeholder="Account Number">
				</div>

<div *ngIf="this.loginForm.get('acno')?.touched&&this.loginForm.get('acno')?.errors" style="color:red;">
Invalid Account Number
</div>


				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input  name ="pswd" formControlName="pswd" type="password" class="login__input" placeholder="Password">
				</div>

<div *ngIf="this.loginForm.get('pswd')?.touched&&this.loginForm.get('pswd')?.errors" style="color:red;">
Invalid Password
</div>
					

				<button type ="submit" class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>	
			</form>
            <div class="link">
                <a href="forgot password?">forgot password?</a>
				<br>
                <a href="view-register">New user? click here to Register</a>
            </div>			

			<div class="social-login">
				<!-- <h3>log in via</h3> -->
				<!-- <div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div> -->
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>